<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container-fluid">
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</a>
			<a class="brand" href="#">Search for things... with Solr!</a>
		</div>
	</div>
</div>

<div class="container-fluid" ng-controller="SearchController">

	<form ng-submit="search()" class="form-search">
		<input type="text" class="input-medium search-query" ng-model="searchTerm" placeholder="Enter a search term" required />
		<button class="btn" type="submit">Search</button>
	</form>

	<hr>

	<div class="row-fluid" ng-show="solrResult">

		<!-- Category filter and facet information -->
		<div class="span2" ng-hide="isLoadingSolr">
			<fieldset>
				<legend>Categories:</legend>
				<div class="media" ng-repeat="category in solrResult.categories">
					<div class="media-body">
						<h5 class="media-heading">
							<a href="#" ng-click="filterCategory(category.key)">{{category.key}}</a> : {{category.value}}</h5>
					</div>
				</div>

				<div class="row-fluid">
					<div class="span12">
						<fieldset>
							<legend>Price range:</legend>
							<div class="media" ng-show="solrResult.lessThanFifty > 0">
								<div class="media-body">
									<h5 class="media-heading">
										<a href="#" ng-click="filterPriceRange('0', '50')">
											$0.00 - $50.00
										</a> : {{solrResult.lessThanFifty}}
									</h5>
								</div>
							</div>

							<div class="media" ng-show="solrResult.fiftyToOneHundred > 0">
								<div class="media-body">
									<h5 class="media-heading">
										<a href="#" ng-click="filterPriceRange('50', '100')">
											$50.00 - $100.00
										</a> : {{solrResult.fiftyToOneHundred}}
									</h5>
								</div>
							</div>
							
							<div class="media" ng-show="solrResult.oneHundredToFiveHundred > 0">
								<div class="media-body">
									<h5 class="media-heading">
										<a href="#" ng-click="filterPriceRange('100', '500')">
											$100.00 - $500.00
										</a> : {{solrResult.oneHundredToFiveHundred}}
									</h5>
								</div>
							</div>
							
							<div class="media" ng-show="solrResult.overFiveHundred > 0">
								<div class="media-body">
									<h5 class="media-heading">
										<a href="#" ng-click="filterPriceRange('500', '*')">
											over $500.00
										</a> : {{solrResult.overFiveHundred}}
									</h5>
								</div>
							</div>
						</fieldset>
					</div>
				</div>
			</fieldset>
		</div>

		<!-- Item results -->
		<div class="span10" ng-hide="isLoadingSolr">
			<fieldset>
				<legend>Solr search found {{solrResult.numFound}} results:</legend>
				<div class="media" ng-hide="isLoadingSolr" ng-repeat="result in solrResult.items">
					<div class="media-body">
						<h5 class="media-heading">{{result.name}}</h5>
						<blockquote>{{result.productDescription}}</blockquote>
						<ul>
							<li>
								<small class="muted">Product number: {{result.productNumber}}</small>
							</li>
							<li>
								<small class="muted">Category: {{result.categoryName}} | Subcategory: {{result.subcategoryName}}</small>
							</li>
							<li>
								<small class="muted">ListPrice: {{result.listPrice}} | Color: {{result.color}}</small>
							</li>
						</ul>
					</div>
					<hr />
				</div>
			</fieldset>
		</div>
		
		<img src="~/Images/michaelmoonwalking.gif" ng-show="isLoadingSolr" />

	</div>

</div>
